.mainContainer {
  color: white;
  height: 100vh;
}

p:nth-child(3) {
  color: yellow;
}

.contentContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #ff0077 100%, #ff0077 100%),
    linear-gradient(to bottom, #ff0077 100%, #ff0077 100%),
    linear-gradient(to right, #ff0077 100%, #ff0077 100%),
    linear-gradient(to bottom, #ff0077 100%, #ff0077 100%);

  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  width: 40%;
  max-width: 460px;
  animation: bg 1.2s cubic-bezier(0.19, 1, 0.22, 1) 1 forwards;
  padding: 5rem;
}

.mainContainer h1 {
  font-weight: 400;
}

@keyframes bg {
  0% {
    background-size: 0 1px, 1px 0, 0 1px, 1px 0;
  }
  25% {
    background-size: 100% 1px, 1px 0, 0 1px, 1px 0;
  }
  50% {
    background-size: 100% 1px, 1px 100%, 0 1px, 1px 0;
  }
  75% {
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 0;
  }
  100% {
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  }
}

.gradientBorder {
  content: "";
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  100% {
    background-position: 1% 50%;
  }
}
