.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  position: absolute;
  overflow-y: scroll;
  left: 0;
  right: 0;
}

.fadeIn {
  animation: fadeIn 0.5s;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

table td,
table th {
  padding: 20px;
}

table tr:nth-child(even) {
  background-color: #ac560b;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #555555;
  color: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
