@import "../../../global/variables.css";

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
}

.contentContainer {
  border: 2px solid var(--box-border-color);
  padding: 1.5rem;
  margin: 1rem;
  width: 700px;
  height: 382px;
}

.contentContainer p {
  animation: slideIn 1s;
}

@keyframes slideIn {
  from {
    transform: translate(50px);
    opacity: 0;
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}
