@import "../../../global/variables.css";

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
}

.introSection {
  flex: 1 0 200px;
  animation: slideIn 1s;
}

h1 {
  font-size: 2.8rem;
}

.moreLink {
  text-decoration: none;
  color: inherit;
}

.moreLink:hover {
  color: var(--hover-color);
}

.contentContainer {
  display: flex;
  flex-flow: row wrap;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      var(--box-border-color),
      var(--box-border-color)
    ),
    linear-gradient(var(--box-border-color), var(--box-border-color)),
    linear-gradient(var(--box-border-color), var(--box-border-color)),
    linear-gradient(var(--box-border-color), var(--box-border-color));

  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  font-size: 1.5rem;
  padding: 1.5rem;
  margin: 1.5rem;
  width: 700px;
  animation: bg 1.2s cubic-bezier(0.19, 1, 0.22, 1) 1 forwards;
}

@keyframes slideIn {
  from {
    transform: translate(50px);
    opacity: 0;
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes bg {
  0% {
    background-size: 0 2px, 2px 0, 0 2px, 2px 0;
  }
  25% {
    background-size: 100% 2px, 2px 0, 0 2px, 2px 0;
  }
  50% {
    background-size: 100% 2px, 2px 100%, 0 2px, 2px 0;
  }
  75% {
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 0;
  }
  100% {
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  }
}

.profilePictureSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 1s;
}

.profilePicutreImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .gradientBorder {
  content: "";
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  100% {
    background-position: 1% 50%;
  }
} */

@media screen and (min-width: 960px) {
  .contentContainer {
    padding: 4rem;
    margin: 3rem;
  }
}
