@import "../../global/styleVariables.css";

.container {
  display: flex;
  margin: 0 3rem;
  padding: 2rem 0;
}
.dummyContainer {
  flex: 4;
}

.toggleSwitch {
  margin-top: 100px;
}

ul {
  flex: 1;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  margin: 1rem;
  flex: 1;
}

li a {
  color: var(--the-color);
  text-decoration: none;
}

li a:hover {
  color: #ff0077;
}

@media screen and (min-width: 960px) {
}
