@import "../../global/variables.css";

.container {
  display: flex;
  padding: 3rem 0;
  height: 10vh;
}
.dummyContainer {
  flex: 4;
}

.dropDownButtonContainer ul {
  display: block;
}

.toggleSwitch {
  margin-top: 100px;
}

ul {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul {
  display: none;
}

li {
  text-align: center;
  margin: 0 1rem;
  flex: 1;
}

li a {
  color: var(--the-color);
  text-decoration: none;
}

li a:hover {
  color: var(--hover-color);
}

@media screen and (min-width: 700px) {
  .container {
    margin: 0 2rem;
  }

  nav {
    display: flex;
    align-items: center;
  }
  nav > ul {
    display: flex;
  }

  .dropDownButtonContainer {
    display: none;
  }
}
