@import "../../../global/variables.css";

.container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

.loader {
  background: red;
}

.imageLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 5px;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gallery-page-box-border-color);
  padding-top: 100%;
}

.imageContainer img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: fadeIn 1s;
}

.bottomOffsetCover {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: var(--background-dark);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 960px) {
  .container {
    margin: 0 auto;
    max-width: 960px;
  }
  .imageLayout {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 20px;
  }
}
